<div class="container">
  <div class="text-white">
      <h3 class="mb-3"><strong> Your Feed </strong> <h3>
      <p> Recent activities of your connections </p>
  </div>

    <div class="apps">
      <% feed_items = @connections_asked + @connections_received + @comments + @votes %>
      <% feed_items.sort_by! { |item| item.updated_at }.reverse! %>
      <% feed_items.each do |item| %>
        <div class="app-card">
          <% case item.class.to_s %>
          <% when 'Connection' %>
            <% if item.asker == current_user %>
              <% if item.receiver.photo.attached? %>
                <%= cl_image_tag item.receiver.photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag "avatar_placeholder.jpg", alt: "text", class: "avatar" %>
              <% end %>
            <% else %>
              <% if item.asker.photo.attached? %>
                <%= cl_image_tag item.asker.photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag "avatar_placeholder.jpg", alt: "text", class: "avatar" %>
              <% end %>
            <% end %>
            <div class="connection-item">
              <p>
                <% if item.asker == current_user %>
                  <strong>New connection - <%= link_to item.receiver.username, profile_path(user_id: item.receiver.id), class: "text-decoration-none" %> </strong> has accepted your invitation.
                <% else %>
                  <strong>New connection - </strong> you accepted invitation from <strong> <%= link_to item.asker.username, profile_path(user_id: item.asker.id), class: "text-decoration-none" %> </strong>.
                <% end %>
              </p>
            </div>
          <% when 'Comment' %>
            <% if item.user.photo.attached? %>
              <%= cl_image_tag item.user.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag "avatar_placeholder.jpg", alt: "text", class: "avatar" %>
            <% end %>
            <div class="comment-item">
              <p><strong>New comment - <%= link_to item.user.username, profile_path(user_id: item.user.id), class: "text-decoration-none" %> on <%= link_to item.app.name, app_path(item.app) %>:" </strong> <%= item.comment.truncate(App::COMMENT_LENGTH) %>".</p>
            </div>
          <% when 'Vote' %>
            <% if item.user.photo.attached? %>
              <%= cl_image_tag item.user.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag "avatar_placeholder.jpg", alt: "text", class: "avatar" %>
            <% end %>
            <div class="vote-item">
              <p><strong>New vote - <%= link_to item.user.username, profile_path(user_id: item.user.id), class: "text-decoration-none" %> </strong>  voted <%= item.vote %> on <%= link_to item.app.name, app_path(item.app) %></p>
            </div>
          <% else %>
            <p>Unknown activity type</p>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
