<div class="card-glass comment d-none" data-comments-target="newComment">
  <% if current_user.photo.attached? %>
    <%= link_to profile_path(user_id: current_user.id) do %>
      <%= cl_image_tag current_user.photo.key, class: "avatar-squared", width: 25, height: 25, crop: :fill %>
    <% end %>
  <% else %>
    <%= link_to profile_path(user_id: current_user.id) do %>
      <%= image_tag "avatar_placeholder.jpg", class: "avatar-squared", width: 25, height: 25, crop: :fill  %>
    <% end %>
  <% end %>
  <%= simple_form_for [app, Comment.new], html: { class: "comment-form"} do |f| %>
    <%= f.input :comment,
        label_html: { class: "d-none"},
        input_html: {
          placeholder: "Add a comment...",
          class: "comment-form__input",
        },
        wrapper_html: {
          class: "comment-form__wrapper"
        } %>
    <%= f.button :submit, "Add", class: "btn-ghost" %>
  <% end %>
  <% if current_user.vote_of(app)  %>
    <p><%= current_user.vote_of(app).upvoted? ? "ðŸ‘" : "ðŸ‘Ž" %></p>
  <% end %>
</div>
