<div class="navbar navbar-expand-sm transparent fixed ">
  <div class="container-fluid ">
    <div class="d-flex">
      <% if user_signed_in? %>
        <%= link_to apps_path  do %>
        <%= image_tag "logo-2.png", class: "logo"%>
        <% end %>
        <%= link_to "ToolBox", root_path, class:"ToolBox" %>
      <% else %>
        <%= link_to root_path  do %>
        <%= image_tag "toolbox.png", class: "logo"%>
        <% end %>
      <% end %>
    </div>

    <% if user_signed_in? %>
     <div class="d-flex">
        <%= link_to feed_path do %>
        <button type="button" class="feed-btn">
          <span class="fas fa-newspaper fa-xl px-1 feed" style="color: #ffffff;padding-top: 15px;" ></span>
        </button>
        <% end %>


        <button type="button" class="profile-btn" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "rounded-circle border border-white profile-btn", height: 28, width: 28, crop: :fill , style: "box-shadow: 2px 2px 4px black"%>
          <% else %>
            <%= image_tag "avatar_placeholder.jpg", class: "rounded-circle border border-white profile-btn", height: 28, width: 28, crop: :fill, style: "box-shadow: 2px 2px 4px black "  %>
          <% end %>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
          <%= link_to "Profile", profile_path, class: "dropdown-item" %>
          <li><hr class="dropdown-divider"></li>
          <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </ul>
     </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</div>
