<%= image_tag "banner.png", class: "banner-img"%>
<div>
  <div class="scroll">
    <h3 class="text-white text-center mt-4">Explore Tools</h3>
    <% if user_signed_in? %>
      <div class="text-center mt-4">
        <%= link_to "Search", apps_path, class:"btn btn-primary"%>
      </div>
    <% else %>
      <div class="text-center mt-4">
        <%= link_to "Sign Up",  new_user_registration_path, class:"btn btn-primary"%>
      </div>
    <% end %>

    <div class="m-scroll">
      <span class="moving-logo"><%= image_tag "notion.png", alt: "Notion Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "asana.png", alt: "Asana Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "ninjaone.png", alt: "Ninjaone Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "trello.webp", alt: "Trello Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "shopify.png", alt: "Shopify Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "mailchimp.png", alt: "Mailchimp Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "canva.png", alt: "Canva Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "notion.png", alt: "Notion Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "asana.png", alt: "Asana Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "ninjaone.png", alt: "Ninjaone Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "trello.webp", alt: "Trello Logo", class:"logozzz" %></span>
    </div>

    <div class="m-scroll-2">
      <span class="moving-logo"><%= image_tag "notion.png", alt: "Notion Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "asana.png", alt: "Asana Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "trello.webp", alt: "Trello Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "shopify.png", alt: "Shopify Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "mailchimp.png", alt: "Mailchimp Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "canva.png", alt: "Canva Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "ninjaone.png", alt: "Ninjaone Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "asana.png", alt: "Asana Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "ninjaone.png", alt: "Ninjaone Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "trello.webp", alt: "Trello Logo", class:"logozzz" %></span>
      <span class="moving-logo"><%= image_tag "notion.png", alt: "Notion Logo", class:"logozzz" %></span>
    </div>
  </div>
</div>

<div class="container container-fluid">
  <h3 class="text-white text-center py-3 ">About us</h3>
  <p class="text-white" >
    ToolBox is a user friendly web application used for startups company
    who is confused on what tools they should use for certain categories.
    Here in ToolBox we provide the best tools for you, in addition to being able
    to view what your friends uses too !!! with our upvote and downvote function
    you will be able to take this experience anywhere, anytime.
  </p>
</div>

<footer class="home-footer py-5 ps-3">
  <div class="container-fluid">
    <div class="row">
      <div data-controller="reveal">
        <div class="d-flex flex-row">
          <h4 data-action="click->reveal#toggle" class="text-white">Contact us</h4>
          <i class="fa-solid fa-caret-down px-2 mt-1" style="color: #ffffff;"></i>
        </div>
        <div class="dropdown-content d-none" data-reveal-target="toggle">
          <div class="contact-info d-flex">
            <i class="fa-solid fa-phone " style="color: #ffffff; padding-right: 5px; "></i>
            <p class="text-white">+1 (123) 456-7890</p>
          </div>
          <div class="contact-info d-flex">
            <i class="fa-solid fa-envelope " style="color: #ffffff; padding-right: 5px;"></i>
            <p class="text-white">Semih@gmail.com</p>
          </div>
          <div class="contact-info d-flex">
            <i class="fa-brands fa-whatsapp fa-lg" style="color: #ffffff; padding-right: 5px;"></i>
            <p class="text-white">+62 8233 7809 347</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pt-5">
    <div class="row">
      <div data-controller="reveal">
        <div class="d-flex flex-row">
          <h4 data-action="click->reveal#toggle" class="text-white">Social Media</h4>
          <i class="fa-solid fa-caret-down px-2 mt-1" style="color: #ffffff;"></i>
        </div>
        <div class="dropdown-content d-none" data-reveal-target="toggle">
          <div class="contact-info d-flex">
            <i class="fa-brands fa-instagram" style="color: #ffffff; padding-right: 5px;"></i>
            <p class="text-white">ToolBox</p>
          </div>
          <div class="contact-info d-flex">
            <i class="fa-brands fa-x-twitter" style="color: #ffffff; padding-right: 5px;"></i>
            <p class="text-white">SEMIH_FOR_PRESIDENT</p>
          </div>
          <div class="contact-info d-flex">
            <i class="fa-brands fa-facebook-f" style="color: #ffffff; padding-right: 5px;"></i>
            <p class="text-white">semih_fb</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
