<div class="container p-5 vh-100">
  <div class="text-white text-center">
    
    <h1 class="fw-bold">Your Account</h1>
    <% if params["voter_id"] %>
      <% user_for_profile = User.find(params["voter_id"]) %>
    <% else %>
      <% user_for_profile = current_user %>
    <% end %>
    <div class="my-3">
      <% if user_for_profile.photo.attached? %>
        <%= cl_image_tag user_for_profile.photo.key, class: "rounded-circle border border-white", height: 150, width: 150, crop: :fill %>
      <% else %>
        <%= image_tag "avatar_placeholder.jpg", class: "rounded-circle border border-white", height: 150, width: 150, crop: :fill %>
      <% end %>
    </div>
    <div class="fw-bold mb-1 fs-2"><%= user_for_profile.username %></div>
    <div class="mb-3"><%= user_for_profile.email %></div>
    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
  </div>
  <div class="p-5 text-white">
  <h2 class="fw-bold mb-1">Your Connections</h2>
  <%#= link_to "Generate Link", connections_path, data: { turbo_method: :post } %>
  <% if user_for_profile == current_user %>
    www.localhost:3000/users/sign_up?connection_id=<%= user_for_profile.sent_connections.last.id %>
  <% end %>
</div>
