<div class="container p-5 vh-100">
  <div class="text-white text-center">
    <h1 class="fw-bold">Your Account</h1>
    <div class="my-3">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "rounded-circle border border-white", height: 150, width: 150, crop: :fill %>
      <% else %>
        <%= image_tag "avatar_placeholder.jpg", class: "rounded-circle border border-white", height: 150, width: 150, crop: :fill %>
      <% end %>
    </div>
    <div class="fw-bold mb-1 fs-2"><%= current_user.username %></div>
    <div class="mb-3"><%= current_user.email %></div>
    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
  </div>
  <div class="p-5 text-white">
  <h2 class="fw-bold mb-1">Your Connections</h2>
  <%#= link_to "Generate Link", connections_path, data: { turbo_method: :post } %>
  www.localhost:3000/users/sign_up?connection_id=<%= current_user.sent_connections.last.id %>
</div>
