<div class="apps" id="apps_div" data-search-tools-target="list" data-filter-target="list">
    <% apps.each do |app| %>
      <div class="app-card">
        <div class="app d-flex justify-content mb-3 align-items-center">

          <%= link_to app_path(app) do %>
            <%= image_tag "notion.png", width: "80px", height: "80px", crop: :fill %>
          <% end %>

          <div class="content-up-down-row d-flex flex-grow-1">
            <div class="name-description flex-column flex-grow-1 justify-content px-3">
              <div class="app-name mt-2 mb-1">
                <%= link_to app.name.truncate(App::NAME_LENGTH), app_path(app), class: "text-decoration-none fw-bold h5" %>
              </div>

              <div class="app-categories small">
                <p> Category: <%= app.categories.map(&:name).join(", ").truncate(App::CATEGORY_LENGTH) %> </p>
                <p> <strong><%= app.votes.where(vote: 1, user: current_user.connections).count %></strong> connections upvoting </p>
              </div>
            </div>

            <div class="up-down p-1 me-1">
              <br>
              <div class="up text-center mb-1">
                <%#= link_to app_votes_path(app, vote: 1), data: { turbo_method: :post } do %>
                <% if current_user.apps.include? app %>
                  <%= button_to vote_path(app, vote: 1), method: :patch do %>
                    <i class="fa-solid fa-angles-up fa-xl" style="color: #1eb428;"></i>
                  <% end %>
                <% else %>
                  <%= button_to app_votes_path(app, vote: 1), method: :post do %>
                    <i class="fa-solid fa-angles-up fa-xl" style="color: #1eb428;"></i>
                  <% end %>
                <% end %>
              </div>
              <small class="text-align-center font-weight-bold"> <%= app.total_votes %> </small>
              <div class="down text-center mt-1">
                <%#= link_to app_votes_path(app, vote: -1), data: { turbo_method: :post } do %>
                <% if current_user.apps.include? app %>
                  <%= button_to vote_path(app, vote: -1), method: :patch do %>
                    <i class="fa-solid fa-angles-down fa-xl" style="color: #c40e0e;"></i>
                  <% end %>
                <% else %>
                  <%= button_to app_votes_path(app, vote: -1), method: :post do %>
                    <i class="fa-solid fa-angles-down fa-xl" style="color: #c40e0e;"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
