    <% if current_user.voted? app %>
      <% vote = current_user.vote_of(app) %>
      <div class="up mb-1">
        <%= button_to vote_path(vote, vote: (vote.upvoted? ? 0 : +1)),
                      method: :patch,
                      class: "vote #{vote.upvoted? ? "upvoted" : ""}" do %>
          <i class="fa-solid fa-angles-up fa-xl" style="color: #1eb428;"></i>
        <% end %>
      </div>


      <small class="font-weight-bold"> <%= app.total_votes %> </small>

      <div class="down mt-1">
        <%= button_to vote_path(vote, vote: (vote.downvoted? ? 0 : -1)),
                      method: :patch,
                      class: "vote vote #{vote.downvoted? && "downvoted"}" do %>
          <i class="fa-solid fa-angles-down fa-xl" style="color: #c40e0e;"></i>
        <% end %>
      </div>

    <% else %>
      <div class="up mb-1">
        <%= button_to app_votes_path(app, vote: +1),
                      method: :post,
                      class: "vote" do %>
          <i class="fa-solid fa-angles-up fa-xl" style="color: #1eb428;"></i>
        <% end %>
      </div>

      <small class="font-weight-bold"> <strong> <%= app.total_votes %> </strong> </small>

      <div class="down mt-1">
        <%= button_to app_votes_path(app, vote: -1),
                      method: :post,
                      class: "vote" do %>
          <i class="fa-solid fa-angles-down fa-xl" style="color: #c40e0e;"></i>
        <% end %>
      </div>
    <% end %>
