<div class="container" data-controller="search-tools filter">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: apps_path, method: :get, class: "d-flex flew-grow-1", data: { search_tools_target: "form" } do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a app name",
              data: {
                search_tools_target: "input",
                action: "keyup->search-tools#update"
              }
          %>
        <%#= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
      <%#replace filter button action with stimulus %>
    </div>
  </div>


  <div class="filters d-flex justify-content-between mb-3">
    <div class="filter_button d-flex me-2">
      <%= form_with(url: apps_path, method: :get, local: true, data: { filter_target: "form"}) do %>
        <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id]), include_blank: 'All Categories', data: {
                filter_target: "category",
                action: "change->filter#submit"
              } %>
      <% end %>
    </div>

    <div class="toggle pt-2">
      <% if params[:connections] == "true" %>
        <i class="fa-solid fa-user-group pe-2" style="color: #3282B8">
        <%= link_to "Off", request.params.merge(connections: false), class: "filter_button" %></i>
      <% else %>
        <i class="fa-solid fa-user-group pe-2" style="color: #3282B8">
        <%= link_to "On", request.params.merge(connections: true), class: "filter_button" %></i>
      <% end %>
    </div>

  </div>


  <%= render "list", apps: @apps %>
</div>
